<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div class="error-header">系统提示</div>
                <h1>开发中</h1>
                <div class="error-divider">
                    <h2>In development</h2>
                    <p class="description">程序员正在努力开发中...</p>
                </div>
            </div>
        </div>
    </div>
</div>