<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div id="cc" class="easyui-layout" data-options="fit:true,border:true" style="width: 100%; height: 627px">
                    <div data-options="region:'center',border:false" style="width:100%;height:100%;overflow-x: hidden;overflow-y:hidden;">
                        <table class="table table-bordered">
                            <thead>
                            <tr style="text-align: center;">
                                <td colspan="4">工单基本信息</td>
                            </tr>
                            </thead>
                            <tbody style="text-align: center;">
                            <tr>
                                <td>工单编号：</td>
                                <td id="work_order_code"></td>
                                <td>工单标题：</td>
                                <td id="work_order_title"></td>

                            </tr>
                            <tr>
                                <td>关联专业：</td>
                                <td id="work_order_profession_name"></td>
                                <td>工单类型：</td>
                                <td id="work_order_type_name"></td>
                            </tr>
                            <tr>

                                <td>地市：</td>
                                <td id="work_order_city_des"></td>
                                <td>区县：</td>
                                <td id="work_order_county_des"></td>
                            </tr>
                            <tr>
                                <td>维护对象：</td>
                                <td id="work_order_obj"></td>
                                <td>班组：</td>
                                <td id="work_order_org_team_name"></td>
                            </tr>
                            <tr>
                                <td>当前节点：</td>
                                <td id="task_Node"></td>
                                <td>创建日期：</td>
                                <td id="work_order_create_time" colspan="3"></td>
                            </tr>
                            <tr>
                                <td>最迟接单时间：</td>
                                <td id="work_order_accept_time_latest"></td>
                                <td>最迟完成时间：</td>
                                <td id="work_order_complete_time_latest" colspan="3"></td>
                            </tr>
                            <tr>
                                <td>工单任务描述：</td>
                                <td id="work_order_description" colspan="3"></td>
                            </tr>
                            <tr>
                                <td id="auditremark" style="line-height:110px;">处理意见：</td>
                                <td colspan="3">
                                    <textarea id="work_order_audit_opinion" class="form-control" rows="6"></textarea>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>


</script>
