<link rel="stylesheet" type="text/css" href="{{projcfg.appurl}}/static/order/css/order_detail.css">
<div id="processDiv" class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div id="processLayout" class="easyui-layout" data-options="fit:true" style="width:600px;height:666px;">

                        <div id="toolbar1" class="row tbRow">
                            <div class="col-xs-8 col-md-8">
                                <div class="btn-group" role="group" aria-label="...">
                                    <label for="filterParam3">派单时间：</label>
                                    <input id="queryDate" class="easyui-datebox" label="Start Date:" labelPosition="top" style="width:130px;height:35px">

                                </div>
                                <div class="btn-group" role="group" aria-label="...">
                                    <label for="filterParam3">回传结果：</label>
                                    <select class="easyui-combobox"id="status"  data-options="panelHeight:'auto'"style="width: 180px;height:31px;">
                                        <option value="2">回传成功</option>
                                        <option value="3">回传失败</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-4 text-right">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" onclick="doSearch()"><i class="fa fa-search"></i>查询</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <table id="mistakeTablelist">

                        </table>


                </div>
            </div>
        </div>
    </div>
</div>
<div id="dd"></div>


<script type="text/javascript">

    $(document).ready(function () {

        //加载列表
        loadMistakeListDatagrid();
        $('#queryDate').datebox().datebox('calendar').calendar({
            validator: function(date){
                var now = new Date();
                var d1 = new Date(now.getFullYear(), now.getMonth(), now.getDate()-1);
                return  date<=d1;

            }
        });
    });

    function loadMistakeListDatagrid(){
        // 加载工单基本属性列表
        $('#mistakeTablelist').datagrid({
            url:'{{projcfg.appurl}}/api/order_manage/mistake_list/list',
            method:'post',
            rownumbers:true,
            queryParams:{
                status:"2,3",
            },
            striped:true,
            fitColumns:true,
            border:false,
            fit:true,
            singleSelect:true,
            selectOnCheck:true,
            checkOnSelect:true,
            toolbar: '#toolbar1',
            columns:[[
                {"field":"_id",checkbox:true},
                {"field": "mistake_time","title":"日期","width":"100px"},
                {"field": "city_code","title":"地市编码","width":"80px"},
                {"field": "proc_inst_id","title":"订单号","width":"200px"},
                {"field": "BOSS_NUM","title":"BOSS订单编码","width":"230px"},
                {"field": "status","title":"回传结果","width":"80px",
                    formatter:function(value,row,index){
                    if(value==3){
                        return '回传成功';
                    }else if(value==2){
                        return '回传失败';
                    }
                }},
                {"field": "dispatch_remark","title":"回传说明","width":"120px",
                    formatter:function(value,row,index){
                        return "<span title='" + value + "'>" + value + "</span>";

                    }},
                {"field": "staff_num","title":"营业员工号","width":"150px"},
                {"field": "channel_type","title":"渠道类型","width":"80px"},
                {"field": "channel_org","title":"渠道组织","width":"120px"},
                {"field": "business_num","title":"业务编码","width":"120px"},
                {"field": "business_name","title":"业务名称","width":"120px"},
                {"field": "check_status","title":"稽核状态","width":"80px"},
                {"field": "remark","title":"稽核说明","width":"200px",   formatter:function(value,row,index){
                    return "<span title='" + value + "'>" + value + "</span>";

                }
                },
            ]],
            onLoadSuccess:function(json) {
                if(!json.success) {
                    msgError(json.msg + ',错误代码:' + json.code);
                }
            },
            onLoadError:function() {
                msgError('加载数据出现时发生错误,请稍候重试...');
            },
            pagination:true,
            pageSize: 20,
            loadMsg:'正在加载...'
        });
    }

    //搜索
    function doSearch(){

     $('#mistakeTablelist').datagrid(
             {   url:'{{projcfg.appurl}}/api/order_manage/mistake_list/list',
                 queryParams:{
                     queryDate:$('#queryDate').datebox('getValue'),
                     status:$('#status').combobox('getValue'),

                 }
             }
     );
 }
</script>