<link rel="stylesheet" type="text/css" href="{{projcfg.appurl}}/static/order/css/order_detail.css">
<div id="processDiv" class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div id="processLayout" class="easyui-layout" data-options="fit:true" style="width:600px;height:666px;">

                        <div id="toolbar1" class="row tbRow">
                            <div class="col-xs-8 col-md-8">
                                <div class="btn-group" role="group" aria-label="...">
                                    <label for="filterParam3">派单时间：</label>
                                    <input id="queryDate" class="easyui-datebox" label="Start Date:" labelPosition="top" style="width:130px;height:35px">

                                </div>
                                <div class="btn-group" role="group" aria-label="...">
                                    <label for="filterParam3">稽核状态：</label>
                                    <select class="easyui-combobox"id="check_status" style="width: 230px;height:31px;">
                                        <option value="4">无纸化打印传送中</option>
                                        <option value="14">前端软件异常退出电子工单</option>
                                        <option value="6">纸质重打成功</option>
                                        <option value="31">[用户没有签名笔迹]</option>
                                        <option value="15">进入电子免填单，营业员不扫描证件，不签字，不盖章，退出电子工单</option>
                                        <option value="31">[身份证扫描件不清晰或未扫描证件]</option>
                                        <option value="2">已撤单</option>
                                        <option value="10">无纸化打印控件未安装</option>
                                        <option value="9">无纸化补打传送中</option>
                                        <option value="1">纸质打印成功</option>
                                        <option value="8">纸质补打成功</option>
                                        <option value="31">[没有身份证正面]</option>
                                        <option value="7">无纸化重打传送中</option>
                                        <option value="13">盖章时异常退出电子工单</option>
                                        <option value="0">未打印</option>
                                        <option value="31">[受理人员没有扫描客户证件信息, 未扫描证件]</option>
                                        <option value="17">纸质打印控件未安装</option>
                                        <option value="31">[客户证号与受理客户信息不一致]</option>
                                        <option value="12">签字屏故障退出电子工单</option>
                                        <option value="11">证件识读设备故障退出电子工单</option>
                                        <option value="31">[未扫描证件]</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-4 text-right">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" onclick="doSearch()"><i class="fa fa-search"></i>查询</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <table id="mistakeTablelist">

                        </table>


                </div>
            </div>
        </div>
    </div>
</div>
<div id="dd"></div>


<script type="text/javascript">

    $(document).ready(function () {

        //加载列表
        loadMistakeListDatagrid();
        $('#queryDate').datebox().datebox('calendar').calendar({
            validator: function(date){
                var now = new Date();
                var d1 = new Date(now.getFullYear(), now.getMonth(), now.getDate()-1);
                return  date<=d1;

            }
        });
    });

    function loadMistakeListDatagrid(){
        // 加载工单基本属性列表
        $('#mistakeTablelist').datagrid({
            url:'{{projcfg.appurl}}/api/order_manage/mistake_list/list',
            method:'post',
            rownumbers:true,
            striped:true,
            fitColumns:true,
            border:false,
            fit:true,
            singleSelect:true,
            selectOnCheck:true,
            checkOnSelect:true,
            toolbar: '#toolbar1',
            columns:[[
                {"field":"_id",checkbox:true},
                {"field": "mistake_time","title":"日期","width":30},
                {"field": "city_code","title":"地市编码","width":30},
                {"field": "BOSS_NUM","title":"BOSS订单编码","width":80},
                {"field": "staff_num","title":"营业员工号","width":60},
                {"field": "channel_type","title":"渠道类型","width":30},
                {"field": "channel_org","title":"渠道组织","width":30},
                {"field": "business_num","title":"业务编码","width":50},
                {"field": "business_name","title":"业务名称","width":50},
                {"field": "check_status","title":"稽核状态","width":30},
                {"field": "remark","title":"稽核说明","width":70}
            ]],
            onLoadSuccess:function(json) {
                if(!json.success) {
                    msgError(json.msg + ',错误代码:' + json.code);
                }
            },
            onLoadError:function() {
                msgError('加载数据出现时发生错误,请稍候重试...');
            },
            pagination:true,
            loadMsg:'正在加载...'
        });
    }

    //搜索
    function doSearch(){
        if($('#queryDate').datebox('getValue')){
            $('#mistakeTablelist').datagrid(
                    {   url:'{{projcfg.appurl}}/api/order_manage/mistake_list/list',
                        queryParams:{
                            queryDate:$('#queryDate').datebox('getValue'),
                            check_status:$('#check_status').combobox('getValue')

                        }
                    }
            );
        }else{
            $.messager.alert('提示','查询时间不得为空');
        }

 }

</script>