<link rel="stylesheet" type="text/css" href="{{projcfg.appurl}}/static/order/css/order_detail.css">

<div id="processDiv" class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div id="processLayout" class="easyui-layout" data-options="fit:true" style="width:600px;height:666px;">

                        <div id="toolbar1" class="row tbRow">
                            <div class="col-xs-8 col-md-8">
                                <div class="btn-group" role="group" aria-label="...">
                                    <label for="filterParam3">日期：</label>
                                    <input id="queryDate" class="easyui-datebox" label="Start Date:" labelPosition="top" style="width:130px;height:35px">

                                </div>
                                <div class="btn-group" role="group" aria-label="...">
                                    <label for="filterParam3">地州：</label>
                                    <select class="easyui-combobox"id="city_code" style="width: 100px;height:31px;">
                                        <option value="">=全省=</option>
                                        <option value="850">贵安</option>
                                        <option value="851">贵阳</option>
                                        <option value="852">遵义</option>
                                        <option value="853">安顺</option>
                                        <option value="854">黔南</option>
                                        <option value="855">黔东南</option>
                                        <option value="856">铜仁</option>
                                        <option value="857">毕节</option>
                                        <option value="858">六盘水</option>
                                        <option value="859">黔西南</option>

                                    </select>
                                </div>
                                <div class="btn-group" role="group" aria-label="...">
                                    <label for="filterParam3">回传结果：</label>
                                    <select class="easyui-combobox"id="status"  data-options="panelHeight:'auto'"style="width: 180px;height:31px;">
                                        <option  value="3">回传成功</option>
                                        <option value="2">回传失败</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-4 text-right">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" onclick="doSearch()"><i class="fa fa-search"></i>查询</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <table id="mistakeTablelist">

                        </table>


                </div>
            </div>
        </div>
    </div>
</div>
<div id="dd"></div>


<script type="text/javascript">

    $(document).ready(function () {

        //加载列表
        loadMistakeListDatagrid();
        $('#queryDate').datebox().datebox('calendar').calendar({
            validator: function(date){
                var now = new Date();
                var d1 = new Date(now.getFullYear(), now.getMonth(), now.getDate()-1);
                return  date<=d1;

            }
        });
        var now = new Date();
        var day =now.getFullYear()+"-"+(now.getMonth()+1)+"-"+(now.getDate()-1);
        $('#queryDate').datebox('setValue',day);
    });

    function loadMistakeListDatagrid(){
        // 加载工单基本属性列表
        $('#mistakeTablelist').datagrid({
            url:'{{projcfg.appurl}}/api/order_manage/mistake_list/list',
            method:'post',
            rownumbers:true,
            queryParams:{
                status:$('#status').combobox('getValue')
            },
            striped:true,
            fitColumns:true,
            border:false,
            fit:true,
            singleSelect:true,
            selectOnCheck:true,
            checkOnSelect:true,
            toolbar: '#toolbar1',
            columns:[[
                {"field":"_id",hidden:true},
                {"field": "mistake_time","title":"日期","width":"140px"},
                {"field": "city_name","title":"地市","width":"150px"},
                {"field": "channel_id","title":"渠道编码","width":"100px"},
                {"field": "channel_name","title":"渠道名称","width":"250px",
                    formatter:function(value,row,index){
                        if(!value)
                            return "<span style='color:red'>不存在的渠道</span>";
                        else
                            return value;

                    }},
                {"field": "BOSS_CODE","title":"BOSS订单编码","width":"300px"},
                {"field": "salesperson_code","title":"营业员工号","width":"140px"},
                {"field": "channel_code","title":"渠道类型","width":"100px"},
                {"field": "business_code","title":"业务编码","width":"150px"},
                {"field": "business_name","title":"业务名称","width":"100px"},
                {"field": "remark","title":"稽核说明","width":"150px"},
                {"field": "status","title":"回传结果","width":"250px",
                    formatter:function(value,row,index){
                    if(value==3){
                        return '回传成功';
                    }else if(value==2){
                        return '回传失败';
                    }
                }},
                {"field": "dispatch_remark","title":"回传说明","width":"300px",
                    formatter:function(value,row,index){
                        return "<span title='" + value + "'>" + value + "</span>";

                    }},

            ]],
            onDblClickRow:function(rowIndex, rowData){
                var url='{{projcfg.appurl}}/api/order_manage/order_list/showDetailView?proc_code=p-201';
                $('#dd').dialog({
                    title : '工单详情',
                    width : 1250,
                    height : 650,
                    closed : false,
                    cache : false,
                    href :url ,
                    onOpen:function(){
                        status=1;
                        change_id=rowData.proc_inst_id
                        proc_code='p-201'
                    },
                    modal : true
                });

            },
            onLoadSuccess:function(json) {
                if(!json.success) {
                    msgError(json.msg + ',错误代码:' + json.code);
                }
            },
            onLoadError:function() {
                msgError('加载数据出现时发生错误,请稍候重试...');
            },
            pagination:true,
            pageSize: 20,
            loadMsg:'正在加载...'
        });
    }

    //搜索
    function doSearch(){
     $('#mistakeTablelist').datagrid(
             {   url:'{{projcfg.appurl}}/api/order_manage/mistake_list/list',
                 queryParams:{
                     queryDate:$('#queryDate').datebox('getValue'),
                     status:$('#status').combobox('getValue'),
                     city_code:$('#city_code').combobox('getValue'),
                 }
             }
     );
 }
</script>