<link rel="stylesheet" type="text/css" href="{{projcfg.appurl}}/static/order/css/order_detail.css">
<div id="processDiv" class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div id="processLayout" class="easyui-layout" data-options="fit:true" style="padding-bottom:60px;background:#eee;width:1000px;height:666px;"  >
                    <div id="toolbar1" class="row tbRow">
                        <div class="col-xs-11 col-md-11">
                            <div class="btn-group" role="group" aria-label="...">
                                <label for="filterParam3">工单id：</label>
                                <input class="easyui-textbox"id="job_id"  style="width: 130px;height:25px;">
                                </input>
                            </div>
                            <div class="btn-group" role="group" aria-label="...">
                                <label for="filterParam3">被派单渠道id：</label>
                                <input class="easyui-textbox"id="chlId"  style="width: 100px;height:25px;">
                                </input>
                            </div>
                            <div class="btn-group" role="group" aria-label="...">
                                <label for="filterParam3">类型：</label>
                                <select class="easyui-combobox"id="SCLASS_ID"  style="width: 140px;height:25px;">
                                    <option value="643">工单稽核差错处理流程</option>
                                    <option value="644">预警工单流程</option>
                                </select>
                            </div>
                            <div class="btn-group" role="group" aria-label="...">
                                <label for="filterParam3">开始时间：</label>
                                <input id="startDate" class="easyui-datebox" label="Start Date:" labelPosition="top" style="width:100px;height:25px">
                            </div>
                            <div class="btn-group" role="group" aria-label="...">
                                <label for="filterParam3">结束时间：</label>
                                <input id="endDate" class="easyui-datebox" label="Start Date:" labelPosition="top" style="width:100px;height:25px">
                            </div>
                        </div>
                        <div class="col-xs-1 col-md-1 text-right">
                            <form class="form-inline">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" onclick="doSearch()"><i class="fa fa-search"></i>查询</button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <table id="orderTablelist">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //加载我的待办列表
        loadOrderTodaoListDatagrid();
        $('#startDate').datebox().datebox('calendar').calendar({
            validator: function(date){
                var endDate = new Date($('#endDate').datebox('getValue'));
                if($('#endDate').datebox('getValue')){
                    var d1 = new Date(endDate.getFullYear(), endDate.getMonth(), endDate.getDate());
                    return  date<=d1;
                }else{
                    return true;
                }
            }
        });
        $('#endDate').datebox().datebox('calendar').calendar({
            validator: function(date){
                var startDate = new Date($('#startDate').datebox('getValue'));
                if($('#startDate').datebox('getValue')){
                    var d1 = new Date(startDate.getFullYear(), startDate.getMonth(), startDate.getDate());
                    return  date>=d1;
                }else{
                    return true;
                }
            }
        });

    });

    //时间格式化:new Date().Format("yyyy-MM-dd hh:mm:ss");
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
    // 加载工单基本属性列表
    function loadOrderTodaoListDatagrid(){
        $('#orderTablelist').datagrid({
            url:'{{projcfg.appurl}}/api/order_manage/order_history/list',
            method:'post',
            rownumbers:true,
            striped:true,
            border:false,
            fitColumns:true,
            fit:true,
            pageSize: 30,
            selectOnCheck:true,
            checkOnSelect:true,
            columns:[[
                {"field":"id",checkbox:true},
                {"field": "task_id","title":"任务id","width":"80px"},
                {"field": "job_id","title":"工单id","width":"180px",
                    formatter:function(value,row,index){
                        return "<span title='" + value + "'>" + value + "</span>";
                    }},
                {"field": "title","title":"标题","width":"200px", formatter: function (value) {
                        return "<span title='" + value + "'>" + value + "</span>";
                    },},
                {"field": "orderTxt","title":"派单内容","width":"200px", formatter: function (value) {
                        return "<span title='" + value + "'>" + value + "</span>";
                    }},

                {"field": "wfName","title":"类型","width":"150px"},

                {"field": "login_name","title":"当前处理人BOSS工号","width":"150px",formatter: function (value) {
                        return "<span title='" + value + "'>" + value + "</span>";
                    }},
                {"field": "caller","title":"当前处理人","width":"90px",formatter: function (value) {
                        return "<span title='" + value + "'>" + value + "</span>";
                    }},
                {"field": "statusName","title":"当前状态","width":"70px",formatter: function (value) {
                        return "<span title='" + value + "'>" + value + "</span>";
                    }},
                {"field": "timeout","title":"是否超时","width":"70px",formatter: function (value) {
                        return "<span title='" + value + "'>" + value + "</span>";
                    }},
                {"field": "finish_date","title":"超时时间","width":"160px",formatter: function (value) {
                        return "<span title='" + value + "'>" + value + "</span>";
                    }},
                {"field": "created","title":"创建时间","width":"160px",formatter: function (value) {
                        return "<span title='" + value + "'>" + value + "</span>";
                    }},
                {"field": "orderTpye","title":"工单事件","width":"100px",formatter: function (value) {
                        return "<span title='" + value + "'>" + value + "</span>";
                    }},
                {"field": "INITIATOR","title":"工单发起人id","width":"100px",formatter: function (value) {
                        return "<span title='" + value + "'>" + value + "</span>";
                    }},
                {"field": "initiator_name","title":"工单发起人","width":"80px",formatter: function (value) {
                        return "<span title='" + value + "'>" + value + "</span>";
                    }},
                {"field": "initiatorPhone","title":"工单发起人手机号码","width":"140px",formatter: function (value) {
                        if (!value){
                            return "<span style='text-align: center;display:block'>/</span>";
                        }else{
                            return "<span title='" + value + "'>" + value + "</span>";
                        }
                    }},

                {"field": "chlId","title":"被派单渠道id","width":"100px",formatter: function (value) {
                        if (!value){
                            return "<span style='text-align: center;display:block'>/</span>";
                        }else{
                            return "<span title='" + value + "'>" + value + "</span>";
                        }
                    }},
                {"field": "chlName","title":"被派单渠道名称","width":"100px",formatter: function (value) {
                        if (!value){
                            return "<span style='text-align: center;display:block'>/</span>";
                        }else{
                            return "<span title='" + value + "'>" + value + "</span>";
                        }
                    }},
                {"field": "chlCallerNum","title":"被派单渠道负责人BOSS工号","width":"180px",formatter: function (value) {
                        if (!value){
                            return "<span style='text-align: center;display:block'>/</span>";
                        }else{
                            return "<span title='" + value + "'>" + value + "</span>";
                        }                    }},
                {"field": "chlCaller","title":"被派单渠道负责人","width":"120px",formatter: function (value) {
                        if (!value){
                            return "<span style='text-align: center;display:block'>/</span>";
                        }else{
                            return "<span title='" + value + "'>" + value + "</span>";
                        }                    }},
                {"field": "chlCallerTel","title":"被派单渠道负责人手机号码","width":"180px",formatter: function (value) {
                        if (!value){
                            return "<span style='text-align: center;display:block'>/</span>";
                        }else{
                            return "<span title='" + value + "'>" + value + "</span>";
                        }                    }},

                {"field": "field_1","title":"整改天数","width":"80px"},
                {"field": "chlSolvemeth","title":"被派单渠道处理意见","width":"150px",formatter: function (value) {
                        if (!value){
                            return "<span style='text-align: center;display:block'>/</span>";
                        }else{
                            return "<span title='" + value + "'>" + value + "</span>";
                        }                    }},
                {"field": "mngId","title":"省级id","width":"50px",formatter: function (value) {
                        if (!value){
                            return "<span style='text-align: center;display:block'>/</span>";
                        }else{
                            return "<span title='" + value + "'>" + value + "</span>";
                        }                    }},
                {"field": "mngName","title":"省级名称","width":"100px",formatter: function (value) {
                        if (!value){
                            return "<span style='text-align: center;display:block'>/</span>";
                        }else{
                            return "<span title='" + value + "'>" + value + "</span>";
                        }                    }},
                {"field": "mngCallerNum","title":"省级负责人BOSS工号","width":"140px",formatter: function (value) {
                        if (!value){
                            return "<span style='text-align: center;display:block'>/</span>";
                        }else{
                            return "<span title='" + value + "'>" + value + "</span>";
                        }                    }},
                {"field": "mngCaller","title":"省级负责人","width":"80px",formatter: function (value) {
                        if (!value){
                            return "<span style='text-align: center;display:block'>/</span>";
                        }else{
                            return "<span title='" + value + "'>" + value + "</span>";
                        }

                    }},
                {"field": "mngCallerTel","title":"负责人手机号码","width":"120px",formatter: function (value) {
                        if (!value){
                            return "<span style='text-align: center;display:block'>/</span>";
                        }else{
                            return "<span title='" + value + "'>" + value + "</span>";
                        }                    }},
                {"field": "mngSolvemeth","title":"省级处理意见","width":"100px",formatter: function (value) {
                        if (!value){
                            return "<span style='text-align: center;display:block'>/</span>";
                        }else{
                            return "<span title='" + value + "'>" + value + "</span>";
                        }                    }},
            ]],
            onLoadError:function() {
                msgError('加载数据出现时发生错误,请稍候重试...');
            },
            pagination:true,
            loadMsg:'正在加载...'
        });
    }
    //查询
    function  doSearch(){
        $('#orderTablelist').datagrid({
            url:'{{projcfg.appurl}}/api/order_manage/order_history/list',
            queryParams: {
                startDate: $("#startDate").datebox('getValue'),
                endDate: $("#endDate").datebox('getValue'),
                SCLASS_ID:$("#SCLASS_ID").combobox('getValue'),
                job_id:$("#job_id").val(),
                chlId:$("#chlId").val(),
            }
        });
    }
</script>